//Break Points 
$tablet: 600px;
$tablet-lg: 1024px;
$desktop: 1280px;

//media queries 

@mixin tablet {
    @media (min-width: $tablet) {
        @content;
    }
}

@mixin tablet-lg {
    @media (min-width: $tablet-lg) {
        @content;
    }
}


@mixin desktop {
    @media (min-width: $desktop) {
        @content;
    }
}

//custom styles
@mixin yellow-underline {
    text-decoration: underline;
    text-decoration-color:$yellow-1;
    text-decoration-thickness: 0.15rem;
}